.four{
  margin-top: 100px;
  margin-bottom: 100px;
  &__img{
    background: url("../img/four.png") center/cover no-repeat;
    border-radius: 20px;
    padding-top: 60px;
    padding-bottom: 76px;
    padding-left: 60px;
  }
  &__desc{
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 5px;
  }
  &__title{
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
    color: #404936;
    margin-top: 34px;
  }
  &__desc1{
    font-weight: 500;
    font-size: 26px;
    text-transform: uppercase;
    color: #A3A3A3;
  }
  &__desc2{
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    color: #404936;
  }
  &__btn{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #547147;
    border-radius: 40px;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
  }
  &__box{
    display: flex;
    column-gap: 31px;
    margin: 25px 0 31px;
    align-items: center;
  }
}