.one{
  &__img{
    background: url("../img/one.png") center/cover no-repeat;
    border-radius: 20px;
    margin: 40px 0 71px;
    padding-top: 246px;
    padding-bottom: 50px;
    padding-left: 50px;
  }
  &__btn1{
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
    background: #DFA650;
    border-radius: 40px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  &__title{
    font-weight: 800;
    font-size: 80px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 20px 0 30px;
  }
  &__btn2{
    font-weight: 700;
    font-size: 20px;
    color: #333333;
    background: #F6F1E4;
    border-radius: 50px;
    border: none;
    padding: 20px 30px;
    cursor: pointer;
  }
}