.two{
  margin-bottom: 100px;
  &__box{
    display: flex;
    align-items: center;
    column-gap: 12px;
  }
  &__text{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
  }
  &__block{
    display: flex;
    column-gap: 81px;
    justify-content: center;
  }
}